<style>
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@media (prefers-color-scheme: light) {
:root {
    --width: 700px;
	--font-main: "Geist", sans-serif;
    --font-secondary: "Geist", sans-serif;
    --font-scale: 0.9em;
    --background-color: #f1f1f1;
    --heading-color: #333333;
    --text-color: #333333;
    --link-color: #828282;
    --visited-color:  #333333;
    --code-background-color: #eceadb;
    --code-color: #f3f3f3;
    --blockquote-color: #222;
	}
}

@media (prefers-color-scheme: dark) {
    :root {
	--font-main: "Geist", sans-serif;
    --font-secondary: "Geist", sans-serif;
    --background-color: #1f1f1f;
    --heading-color: #d1cfc0;
    --text-color: #d1cfc0;
    --link-color: #828282;
	}
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: 700px;
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
	font-size: 2rem;
	text-decoration: none;
}

h3 {
    font-family: var(--font-main);
    color: var(--heading-color);
	font-size: 1.5rem;
	text-decoration: none;
}

a {
    color: var(--text-color);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
  color: var(--link-color);
  text-decoration: none;
}

nav a {
    margin-right: 8px;
}

strong, b {
    color: var(--heading-color);
}

button {
    margin: 0;
    cursor: pointer;
}

time {
 	font-family: var(--font-main);
  	font-style: normal;
  	font-size: 12px;
    opacity: 0.4;
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
}

blockquote {
    border-left: 1px solid #999;
    color: var(--code-color);
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px 0;
    text-align: left;
    font-size: 12px;
}

.title:hover {
  color: rgb(130 130 130);
    text-decoration: none;
}

.title h1 {
    font-size: 2em;
  text-decoration: none;
}

.title {
  text-decoration: none;
}

.title h1:hover {
  color: rgb(130 130 130);
    text-decoration: none;
}

.inline {
    width: auto !important;
}

.highlight, .code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 96px;
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}

/* Hide tags */
  .tags a {
    display: none;
  }

  .tags a:hover {
    display: none;
  }

.tags::before {
  display: none;
}

::selection {
    background: rgb(130 130 130);
    color: #f1f1f1;
}

img {
  border-radius: 8px;
}

.post-date {
 	font-family: var(--font-main);
  	font-style: normal;
  	font-size: 12px;
    opacity: 0.4;
}

</style>
